*{
    padding: 0;
    margin: 0;
}
/* CUOTAS */
/*
.card{
    background-color: rgb(245, 253, 255);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 100px auto;
    border-radius: 10px;
}
.card h1{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    color: rgb(47, 152, 184);
}
.txt{
    font-size: 1.3rem;
    padding: 1rem;
}
.cuotas{
    padding: 12px;
}
.caja{
    height: 30px;
    width: 100px;
}
.cotizar{
    text-align: center;
}
.boton{
    margin: 1rem;
    font-size: 1rem;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(0, 195, 255);
    border-color: transparent;
    transition: all .5s;
    text-transform: uppercase;
}
.boton:hover{
    transition: all .5s ;
    background-color: rgb(117, 223, 255);
    cursor: pointer;
}*/

/* Nav */
.nav{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h1{
    font-size: 2rem;
    color: #000;
}

.ancla{
    /* height: 45px; */
    /* width: 60px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 20px;
    /* border: solid 3px #000; */
    border-radius: 10px;
    /* transition: all .4s; */
    text-decoration: none;
}
.ancla:hover{
    animation: mover 1.2s ease alternate;
} 
@keyframes mover{
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-3px);
    }
    40%{
        transform: translateY(3px);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0);
    }
}

.ancla i{
    font-size: 1.2rem;
    color: #000;
    /* position: relative;
    top: 7px;
    left: 4px; */
}
/* .ancla span{
    color: black;
    font-size: 1.3rem;
} */

#total{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* padding: 1px 15px; */
    width: 55px;
    height: 40px;
    border-radius: 2rem;
    /* border: none; */
    /* background-color:  #ffffff; */
    transition: all 1s ease;
    background-color: transparent;
    border: 2px solid #eee;
    box-shadow: .5rem .5rem 1rem #ccc,
            -.5rem -.5rem 1rem #fff
}
#total:hover{
    transition: all .4s;
    box-shadow: .5rem .5rem 1rem #fff,
    -.5rem -.5rem 1rem #cccc
}
#total:active{
    box-shadow: inset .2rem .2rem 1rem #ccc,
    inset -.2rem -.2rem 1rem #cccc
}
#total span p {
    position: relative;
    top: 7px;
    font-size: 1.2rem;
}
/* Main */
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(249, 249, 255);
}
.box{
    margin: 2rem;
    background-color: #fff;
    box-shadow: 3px 3px 8px rgb(141, 141, 141);
    height: 500px;
}
.txtPrecioName{
    display: flex;
    justify-content: space-around;
}
.txtPrecioName p, button{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.txtPrecioName button{
    cursor: pointer;
}

.box img{
    width: 400px;
    height: 400px;
}

.boton{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carrito */
.carrito-title{
    text-align: center;
    margin: 2rem;
}
.carrito-title h2{
    color: #000;
    font-size: 3rem;
}

#carrito{
    padding-left: 0;
}
.li{
    /* text-align: center; */
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    border: solid 1px rgb(151, 151, 151);
}
.iphone, .cant{
    margin: 3px;
}

.footer-caja{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: solid 1px rgb(151, 151, 151);
    padding: 1rem;
}
.footer-title{
    text-transform: uppercase;   
}

.lista-aq{
    justify-content: space-between;
    align-items: center;
}


.lista-p{
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    top: 8px;
}

.btn-q, .btn-a{
    border: transparent;
    border-radius: 10px;
    padding: 5px;
}



